.product-container{
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem;
}
.supplements-container{
    background-color: #444;
    max-width: 100%;
    margin: 0 auto;
    padding: 2rem;
}
.supplements-container h2{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.block {
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
}
.products-supplements {
    display: block;
}
.my-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.my-button:hover {
    background-color: #333;
}