body {
    background-color: #444444;
}
.password-reset-form-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.password-reset-form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    border: 2px solid white;
    width: 50rem;
    padding-bottom: 1rem;
}
.password-reset-form-item p {
    max-width: 30rem;
    text-align: center;
    padding: 1rem;
}
.password-reset-form-item form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.password-reset-form-container form button{
    margin-top: 10px;
}