{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure Strength</title>
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
</head>

<body>
    <header>
        <h1><a href="{% url 'homepage' %}">Pure Strength</a></h1>
    </header>

    <nav>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'about us' %}">About us</a>
        <a href="#">Supplements</a>
        <a href="#">Gym equipment</a>
        <a href="#">Contact</a>
        <a href="#">Login</a>
        <a href="#">Register</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>
        <p>&copy; 2023 Pure Strength. All rights reserved.</p>
    </footer>
</body>

</html>