{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="single-product-container">
<div class="single-product-item">
    <h2>{{ object.name }}</h2>
    <img src="{{ object.photo.url }}" alt="photo">
    <p>{{ object.description }}</p>
    <div class="product-container">
        <p>Price: {{ object.price|floatformat:2 }} lv.</p>
    </div>
    <form action="{% url 'add to cart' 'gym_equipment' object.id %}" method="post">
        {% csrf_token %}
        <button class="my-button">Add to cart</button>
    </form>
</div>
</div>

{% endblock %}