{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="supplements-container" id="products">
        <h2>Gym equipment</h2>
        <div class="products-supplements">
            <div class="block">
            <a href="#" class="products-item">
                <img src="{% static 'images/pexels-dom-j-45056.jpg' %}" alt="Service 1">
                <h3>Skipping rope</h3>
                <p>The best tool for dynamic and functional cardio!</p>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-1371570040-1024x1024.jpg' %}" alt="Service 2">
                <h3>Weightlifting straps</h3>
                <p>Comfortable and reliable straps for every intense lifter!</p>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-1320847570-1024x1024.jpg' %}" alt="Service 3">
                <h3>Shaker</h3>
                <p>High-quality shaker, with a volume of 750 ml., which allows you to mix your drinks quick and easy.</p>
            </a>
            </div>
            <div class="block">
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-910481538-1024x1024.jpg' %}" alt="Service 3">
                <h3>Weightlifting belt</h3>
                <div class="product-container">
                <p>Price: 80 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-519036974-1024x1024.jpg' %}" alt="Service 3">
                <h3>Magnesium</h3>
                <div class="product-container">
                <p>Amount: 90 tablets</p>
                <p>Price: 30 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-1270699634-1024x1024.jpg' %}" alt="Service 3">
                <h3>Zinc</h3>
                <div class="product-container">
                <p>Amount: 90 tablets</p>
                <p>Price: 32 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            </div>
            <div class="block">
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-1280398620-1024x1024.jpg' %}" alt="Service 3">
                <h3>Glutamine</h3>
                <div class="product-container">
                <p>Amount: 90 tablets</p>
                <p>Price: 25 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-1165030372-1024x1024.jpg' %}" alt="Service 3">
                <h3>Omega 3</h3>
                <div class="product-container">
                <p>Amount: 90 tablets</p>
                <p>Price: 33 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            <a href="#" class="products-item">
                <img src="{% static 'images/istockphoto-520371514-1024x1024.jpg' %}" alt="Service 3">
                <h3>Vitamin D</h3>
                <div class="product-container">
                <p>Amount: 90 tablets</p>
                <p>Price: 36 lv.</p>
                </div>
                <button>Add to cart</button>
            </a>
            </div>
        </div>
    </div>

{% endblock %}