{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="homepage-image-container">
        <img class="homepage-image" src="{% static 'images/pexels-victor-freitas-949126.jpg' %}" alt="Lifting Weights">
        <div class="homepage-hero-content">
            <h2><a href="{% url 'homepage' %}">Pure Strength</a></h2>
            <p>Wide variety of top quality fitness products</p>
            <!--<a href="#services">Learn More</a>-->
        </div>
    </div>

    <div class="best-sellers-container" id="products">
        <h2>BEST SELLING SUPPLEMENTS</h2>
        <div class="products">
            {% for supplement in best_selling_supplements %}
                <a href="{% url 'supplement product' supplement.pk %}" class="products-item">
                    <img src="{{ supplement.photo.url }}" alt="Service 1">
                    <h3>{{ supplement.name }}</h3>
                    <div class="product-container"><p>Amount: {{ supplement.amount }} {{ supplement.amount_type }}</p><p>Price: {{ supplement.price|floatformat:2 }} lv.</p>
                    </div>
                    <button class="my-button">Add to cart</button>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="best-sellers-container" id="products">
        <h2>BEST SELLING GYM EQUIPMENT</h2>
        <div class="products">
            {% for equipment in best_selling_gym_equipment %}
            <a href="{% url 'gym equipment' %}" class="products-item">
                <img src="{{ equipment.photo.url }}" alt="Service 1">
                <h3>{{ equipment.name }}</h3>
                <p>{{ equipment.description }}</p>
            </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
