{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="hero-image">
        <img class="image" src="{% static 'images/pexels-victor-freitas-949126.jpg' %}" alt="Lifting Weights">
        <div class="hero-content">
            <h2><a href="#">Pure Strength</a></h2>
            <p>Wide variety of top quality fitness products</p>
            <!--<a href="#services">Learn More</a>-->
        </div>
    </div>

    <div class="container" id="services">
        <h2>BEST SELLERS</h2>
        <div class="services">
            <a href="#" class="services-item">
                <img src="{% static 'images/istockphoto-1200872324-1024x1024.jpg' %}" alt="Service 1">
                <h3>Whey protein</h3>
                <p>The most essential supplement for building muscle!</p>
            </a>
            <a href="#" class="services-item">
                <img src="{% static 'images/istockphoto-1383504099-1024x1024.jpg' %}" alt="Service 2">
                <h3>Creatine</h3>
                <p>The most researched and proved to work supplement on the market! </p>
            </a>
            <a href="#" class="services-item">
                <img src="{% static 'images/istockphoto-1185682437-1024x1024.jpg' %}" alt="Service 3">
                <h3>BCAA</h3>
                <p>BCAAs may help reduce muscle breakdown during exercise and support muscle recovery.</p>
            </a>
        </div>
    </div>

{% endblock %}
