{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="order-container">
        <div class="order-item">
        {% if order.user %}
            <p>User: {{ order.user }}</p>
        {% else %}
            <p>User: {{ order.session_key }}</p>
        {% endif %}
        <p>Address: {{ order.address }}</p>
        <p>City: {{ order.city }}</p>
        <p>Region: {{ order.region }}</p>
        <p>Zipcode: {{ order.zipcode }}</p>
        <p>Date added: {{ order.date_added }}</p>
        <p>Status: {{ order.status }}</p>
        </div>
    </div>
{% endblock %}