{% extends 'base.html' %}
{% block content %}
{% load static %}

    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>

    <section>
      <div class="product">
      <div class="product-item">
        <div class="description">
          <h1>Cart Checkout Page</h1>
            {% for product in cart_items %}
                <h3>{{ product.name }}</h3>
                <p>Amount: {{ product.quantity }}</p>
                <p>Price: {{ product.price }} * {{ product.quantity }}</p>
            {% endfor %}
          <h3>Cart Total Price</h3>
          <h3>${{ cart_total }}</h3>
        </div>
        <div class="payment-buttons">
        <button type="button" id="checkout-button" class="my-button">Card Checkout</button>
        <a href="{% url 'payment on delivery' %}" class="my-button">Payment on Delivery</a>
        </div>
      </div>
    </div>
    </section>
    {% csrf_token %}
  <script type="text/javascript">
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("{% url 'create-checkout-session' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': csrftoken
        }
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>

{% endblock %}