{% extends 'base.html' %}

{% block content %}
    <h2 class="edit-profile-header">Edit Profile</h2>
<div class="profile-container">
    <form method="POST" action="{% url 'profile edit' request.user.pk %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-item">
            <label for="id_username">Username:</label>
            {{ form.username }}
        </div>
        <div class="profile-item">
            <label for="id_profile_picture">First Name:</label>
            {{ form.first_name }}
        </div>
        <div class="profile-item">
            <label for="id_profile_picture">Last Name:</label>
            {{ form.last_name }}
        </div>
        <div class="profile-item">
            <label for="id_profile_picture">Gender:</label>
            {{ form.gender }}
        </div>
        <div class="profile-item">
            <label for="id_email">Email:</label>
            {{ form.email }}
        </div>
        <div class="profile-item">
            <label for="id_profile_picture">Profile Picture:</label>
            <p class="my-button">{{ form.profile_picture }}</p>
        </div>
        <div class="profile-item">
            <label for="id_profile_picture">Password:</label>
            <a href="{% url 'password change' %}" class="my-button">Change password</a>
        </div>
        {{ form.errors }}
        <div class="profile-buttons">
            <button type="submit" class="btn my-button btn-secondary">Save changes</button>
            <button type="button" onclick="window.location.href='{% url 'profile detail' request.user.pk %}'" class="btn my-button btn-secondary">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}