{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="delete-container">
    <div class="delete-item">
    <h2>Delete Profile</h2>
    <p>Are you sure you want to delete your profile? This action cannot be undone.</p>
    <div class="delete-buttons">
    <form method="post">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger my-button">Delete</button>
    </form>
    <a href="{% url 'profile detail' request.user.pk %}" class="my-button">Cancel</a>
    </div>
    </div>
</div>

{% endblock %}