{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="single-product-container">
<div class="single-product-item">
    <h2>{{ object.name }}</h2>
    <img src="{{ object.photo.url }}" alt="photo">
    <p>{{ object.description }}</p>
    <div class="product-container">
        <p>Amount: {{ object.amount }} {{ object.amount_type }}</p>
        <p>Price: {{ object.price|floatformat:2 }} lv.</p>
    </div>
    {% if object.amount_in_stock > 0 %}
    <form action="{% url 'add to cart' 'supplement' object.id %}" method="post">
    {% csrf_token %}
        <button class="my-button">Add to cart</button>
    </form>
    {% else %}
        <button class="my-button out-of-stock">Out of stock</button>
    {% endif %}
</div>
</div>

{% endblock %}