{% extends 'base.html' %}
{% block content %}
{% load static %}

    <div class="supplements-container" id="products">
        <h2>SUPPLEMENTS</h2>
        <div class="products-supplements">
            {% for supplement in object_list %}
                {% if supplement.id == 1 or supplement.id == 4 or supplement.id == 7 %}
                    <div class="block">
                    <a href="{% url 'supplement product' supplement.pk %}" class="products-item">
                        <img src="{{ supplement.photo.url }}" alt="Service 1">
                        <h3>{{ supplement.name }}</h3>
                        <div class="product-container">
                        <p>Amount: {{ supplement.amount }} {{ supplement.amount_type }}</p>
                        <p>Price: {{ supplement.price|floatformat:2 }} lv.</p>
                        </div>
                        <form action="{% url 'add to cart' 'supplement' supplement.id %}" method="post">
                            {% csrf_token %}
                            <button class="my-button">Add to cart</button>
                        </form>
                    </a>
                {% elif supplement.id == 3 or supplement.id == 6 or supplement.id == 9 %}
                        <a href="{% url 'supplement product' supplement.pk %}" class="products-item">
                            <img src="{{ supplement.photo.url }}" alt="Service 1">
                            <h3>{{ supplement.name }}</h3>
                            <div class="product-container">
                            <p>Amount: {{ supplement.amount }} {{ supplement.amount_type }}</p>
                            <p>Price: {{ supplement.price|floatformat:2 }} lv.</p>
                            </div>
                            <form action="{% url 'add to cart' 'supplement' supplement.id %}" method="post">
                                {% csrf_token %}
                                <button class="my-button">Add to cart</button>
                            </form>
                        </a>
                        </div>
                {% else %}
                    <a href="{% url 'supplement product' supplement.pk %}" class="products-item">
                        <img src="{{ supplement.photo.url }}" alt="Service 1">
                        <h3>{{ supplement.name }}</h3>
                        <div class="product-container">
                        <p>Amount: {{ supplement.amount }} {{ supplement.amount_type }}</p>
                        <p>Price: {{ supplement.price|floatformat:2 }} lv.</p>
                        </div>
                        <form action="{% url 'add to cart' 'supplement' supplement.id %}" method="post">
                            {% csrf_token %}
                            <button class="my-button">Add to cart</button>
                        </form>
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}