{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pure Strength</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header>
        <div class="header-container">
        <h1><a href="{% url 'homepage' %}">Pure Strength</a></h1>
        <div class="tools-container">
        <div class="search-bar-container">
        <span class="material-symbols-outlined search-bar">
            <a href="#" onclick="toggleSearchBar()">search</a>
        </span>
        <div id="search-dropdown" class="search-dropdown">
            <form action="{% url 'search product' %}" method="get">
                {% csrf_token %}
                <p class="search-heading">Search Product</p>
                {{ search_form.as_p }}
                <button class="my-button" type="submit">Search</button>
            </form>
        </div>
        </div>
        <div class="cart-container">
        <span class="material-symbols-outlined cart-icon">
            <a href="#" onclick="toggleCart()">shopping_basket</a>
        </span>
        <div id="cart-dropdown" class="cart-dropdown">
            {% if cart_items %}
                <ul class="cart-items">
                    {% for item in cart_items %}
                        <li class="cart-item">
                            <span class="cart-item-title">{{ item.name }}</span>
                            <div class="cart-item-details">
                                <span class="cart-item-price">Price: ${{ item.price }}</span>
                                {% if item.product_type == "supplement" %}
                                    <span class="cart-item-quantity">Amount: <a href="{% url 'remove from cart' "supplement" item.product_id %}" class="plus-minus">-</a>{{ item.quantity }}<a href="{% url 'add to cart' "supplement" item.product_id %}" class="plus-minus">+</a></span>
                                {% else %}
                                    <span class="cart-item-quantity">Amount: <a href="{% url 'remove from cart' "gym_equipment" item.product_id %}" class="plus-minus">-</a>{{ item.quantity }}<a href="{% url 'add to cart' "gym_equipment" item.product_id %}" class="plus-minus">+</a></span>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="cart-total">
                    Total: ${{ cart_total }}
                    <a href="{% url 'complete order'  %}">
                        <button class="my-button">Complete order</button>
                    </a>
                </div>
            {% else %}
                <p class="cart-item-empty">Shopping cart is empty</p>
            {% endif %}
        </div>
        </div>
        </div>
        </div>
    </header>

    <nav class="navigation">
        <div>
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'about us' %}">About us</a>
        <a href="{% url 'supplements' %}">Supplements</a>
        <a href="{% url 'gym equipment' %}">Gym equipment</a>
        <a href="{% url 'contacts' %}">Contact</a>
        {% if request.user.is_staff %}
            <a href="{% url 'orders for delivery' %}">Orders for delivery</a>
        {% endif %}
        </div>
        <div>
        {% if request.user.is_authenticated %}
            <a href="{% url 'profile detail' request.user.pk %}">Profile</a>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}
        </div>
    </nav>
    <main>
    {% block content %}
    {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Pure Strength. All rights reserved.</p>
    </footer>

    <script>
    function toggleCart() {
        let cartDropdown = document.getElementById("cart-dropdown");
        if (cartDropdown.style.display === "block") {
            cartDropdown.style.display = "none";
        } else {
            cartDropdown.style.display = "block";
        }
    }
        function toggleSearchBar() {
        let searchBar = document.getElementById("search-dropdown");
        if (searchBar.style.display === "block") {
            searchBar.style.display = "none";
        } else {
            searchBar.style.display = "block";
        }
    }
</script>
</body>

</html>