{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="homepage-image-container">
    <img class="homepage-image" src="{% static 'images/pexels-victor-freitas-949126.jpg' %}" alt="Lifting Weights">
    <div class="homepage-hero-content">
        <h2><a href="{% url 'homepage' %}">Pure Strength</a></h2>
        <p>Wide variety of top quality fitness products</p>
        <!--<a href="#services">Learn More</a>-->
    </div>
</div>

<div class="best-sellers-container" id="products">
    <h2>BEST SELLING SUPPLEMENTS</h2>
    <div class="products">
        {% for supplement in best_selling_supplements %}
            <div class="products-item">
                <img src="{{ supplement.photo.url }}" alt="{{ supplement.name }}">
                <h3>{{ supplement.name }}</h3>
                <div class="product-container">
                    <p>Amount: {{ supplement.amount }} {{ supplement.amount_type }}</p>
                    <p>Price: ${{ supplement.price|floatformat:2 }}</p>
                </div>
                {% if supplement.amount_in_stock > 0 %}
                <button class="my-button add-to-cart" data-product-id="{{ supplement.id }}" data-product-type="supplement">
                    Add to cart
                </button>
                {% else %}
                <button class="my-button out-of-stock">Out of stock</button>
                {% endif %}
                <a href="{% url 'supplement product' supplement.pk %}" class="my-button">
                    View
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<div class="best-sellers-container" id="products">
    <h2>BEST SELLING GYM EQUIPMENT</h2>
    <div class="products">
        {% for equipment in best_selling_gym_equipment %}
            <div class="products-item">
                <img src="{{ equipment.photo.url }}" alt="{{ equipment.name }}">
                <h3>{{ equipment.name }}</h3>
                <p>Price: ${{ equipment.price|floatformat:2 }}</p>
                {% if equipment.amount_in_stock > 0 %}
                <button class="my-button add-to-cart" data-product-id="{{ equipment.id }}" data-product-type="gym_equipment">
                    Add to cart
                </button>
                {% else %}
                <button class="my-button out-of-stock">Out of stock</button>
                {% endif %}
                <a href="{% url 'equipment product' equipment.pk %}" class="my-button">
                    View
                </a>
            </div>
        {% endfor %}
    </div>
</div>

<script>
$(document).ready(function() {
    $('.add-to-cart').on('click', function(e) {
        e.preventDefault();

        const productId = $(this).data('product-id');
        const productType = $(this).data('product-type');

        $.ajax({
            url: "{% url 'add to cart' '' '' %}" + productType + "/" + productId + "/",
            method: 'GET',  // or 'POST' if your view is set up to handle POST requests
            success: function(response) {
                alert('Product added to cart!');
                // You could also update the cart icon or other parts of the page here
            },
            error: function(xhr, errmsg, err) {
                alert('There was an error adding the product to your cart.');
                console.log(xhr.status + ": " + xhr.responseText);
            }
        });
    });
});
</script>
{% endblock %}
