{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="profile-container">
    <div class="profile-item">
    <h2>{{ request.user.username }}</h2>
    {% if request.user.profile_picture %}
        <img src="{{ request.user.profile_picture.url }}" alt="Service 1">
    {% else %}
        <img src="{% static 'images/istockphoto-1433039224-1024x1024.jpg' %}">
    {% endif %}
    <p>Username: {{ request.user.username }}</p>
    <p>Email: {{ request.user.email }}</p>
    <p>First name: {{ request.user.first_name }}</p>
    <p>Last name: {{ request.user.last_name }}</p>
    <p>Gender: {{ request.user.gender }}</p>
    <div class="profile-buttons">
        <a href="{% url 'profile edit' request.user.pk %}" class="btn my-button btn-primary">Edit Profile</a>
        <a href="{% url 'profile delete' request.user.pk %}" class="btn my-button btn-danger">Delete Profile</a>
    </div>
    </div>
</div>
{% endblock %}